<div *ngIf="issue">
  <h3>Edit details isssue #{{ issue.issueNo }}</h3>
  <form clrForm *ngIf="issueForm" [formGroup]="issueForm" (ngSubmit)="save()">
    <clr-input-container>
      <label>Title</label>
      <input clrInput formControlName="title" />
      <clr-control-error>Title is required </clr-control-error>
    </clr-input-container>
    <clr-textarea-container>
      <label>Description</label>
      <textarea formControlName="description" clrTextarea></textarea>
      <clr-control-error>Title is required </clr-control-error>
    </clr-textarea-container>
    <clr-radio-container clrInline>
      <label>Priority</label>
      <clr-radio-wrapper>
        <input formControlName="priority" type="radio" value="low" clrRadio />
        <label>Low</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input formControlName="priority" type="radio" value="high" clrRadio />
        <label>High</label>
      </clr-radio-wrapper>
      <clr-control-error>Priority is required </clr-control-error>
    </clr-radio-container>
    <div style="margin-top: 1.2rem">
      <button
        [disabled]="!issueForm.valid"
        class="btn btn-primary"
        type="submit"
      >
        Edit
      </button>
      <button (click)="reset.emit()" class="btn" type="button">Go Back</button>
    </div>

    <div style="margin-top: 1.2rem">
      {{ issue | json }}
      Valid: {{ issueForm.valid }}
    </div>
  </form>
</div>
